@page
@model Result

<div class="text-center">
    <p>Name: @Model.Character.Name</p>
    <p>AttackModifier: @Model.Character.AttackModifier</p>
    <p>WeaponModifier: @Model.Character.WeaponModifier</p>
    <p>AttackPerRound: @Model.Character.AttackPerRound</p>
    <p>DamageDicesCount: @Model.Character.DamageDicesCount</p>
    <p>DamageDiceType: @Model.Character.DamageDiceType</p>
    <p>DamagePerRoundLeft: @Model.Character.DamagePerRoundLeft</p>
    <p>DamagePerRoundRight: @Model.Character.DamagePerRoundRight</p>
    <p>MinAcToAlwaysHit: @Model.Character.MinAcToAlwaysHit</p>
</div>