@using System.Security.AccessControl
@model Presentation.Controllers.HomeController.FightModel

@{
    ViewBag.Title = "Fight result";
    Layout = "_Layout";
    var character =
       (CalculatedCharacter)ViewBag.Calculated;
}
@if (ViewBag.Calculated != null)
{
    <p>
        Id = @character.Id<br/>
        Name = @character.Name<br/>
        HitPoints =  @character.HitPoints<br/>
        AttackModifier =  @character.AttackModifier<br/>
        DamageModifier =  @character.DamageModifier<br/>
        DamageDiceCount =  @character.DamageDiceCount<br/>
        DamageDiceEdges =  @character.DamageDiceEdges<br/>
        ArmourClass =   @character.ArmourClass<br/>
        AttackPerRound =   @character.AttackPerRound<br/>
        MinAcToAlwaysHit = @character.MinAcToAlwaysHit<br/>
        MinDamagePerRound = @character.MinDamagePerRound<br/>
        MaxDamagePerRound = @character.MaxDamagePerRound<br/>
    </p>
}
@* *@
@* @if (ViewBag.Log != null) *@
@* { *@
@*     @foreach (var item in ViewBag) *@
@*     { *@
@*         <p>@item</p> *@
@*     } *@
@* } *@

----------------------------------------------
@if (Model?.Log != null)
{
    <p>
        @foreach (var str in Model!.Log.Split('\n'))
        {
            @str
            <br/>
        }
    </p>
}